@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Poppins:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #ffbe2e !important;
  width: 0.75rem;
  height: 0.75rem;
}

.swiper-button-next,
.swiper-button-prev {
  @apply bg-white h-14 w-14 rounded-full border border-black hover:bg-black !important;
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  @apply text-white !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  @apply text-xl text-black !important;
}

#extra-menu .swiper-button-next,
#extra-menu .swiper-button-prev {
  @apply transform -translate-y-16;
}
